{% extends 'main.html' %}
{% load static %}
{% block csslink %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href={% static 'css/reset.css' %}> <!-- CSS reset -->
    <link rel="stylesheet" href={% static 'css/style.css' %}> <!-- Resource style -->
    <link rel="stylesheet" href={% static 'css/index.css' %}>
    <link rel="stylesheet" href={% static 'css/sds.css' %}>
{% endblock csslink %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
        <a class="navbar-brand brandname ml-2 font-weight-bold"
           href="{% url 'home' %}"><span id="burgundy">The</span><span
                id="orange">SuQ</span></a>
        {#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"#}
        {#                aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"><span#}
        {#                class="navbar-toggler-icon"></span></button>#}
        {#        <div class="collapse navbar-collapse" id="navbarColor">#}
        {#            <ul class="navbar-nav">#}
        {#                <li class="nav-item rounded bg-light search-nav-item">#}
        {#                    <input type="text" id="search" class="bg-light" placeholder="Search ....">#}
        {#                    <span class="fa fa-search text-muted"></span>#}
        {#                </li>#}
        {#                <li class="nav-item"><a class="nav-link" href="signup.html"><span class="fa fa-user-o"></span><span#}
        {#                        class="text">Login</span></a></li>#}
        {#                <li class="nav-item "><a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span><span#}
        {#                        class="text">Cart</span></a></li>#}
        {#            </ul>#}
        {#        </div>#}
        <div class="user-interactions">

            <div class="cart">
                <a  href="{% url 'checkout' %}" ><img src="{% static "img/cart.png" %}" class="cart-icon" alt="">
                        <span class="cart-item-count">00</span></a>
            </div>
            <div class="user">
                <a href="{% url 'admin:user_management_userprofile_change' user_id %}"><img
                        src="{% static "img/user.png" %}" class="user-icon" alt=""></a>
            </div>
            {% if user_id %}
                <div class="user">
                    <a href="{% url 'signout' %}">LogOut </a>
                </div>
                &nbsp;&nbsp;&nbsp;
            {% else %}
                <div class="user">
                    <a href="{% url 'signin' %}">LogIn</a>
                </div>
                &nbsp;&nbsp;&nbsp;
            {% endif %}
            <div class="user">
                <a href="{% url 'admin:index' %}">Admin </a>
            </div>

        </div>
    </nav>
    <section id="sidebar">
        {#            <p> Home | <b>All Breads</b></p>#}
        {#        <div class="border-bottom pb-2 ml-2">#}
        {#            <h4 id="burgundy">Categories</h4>#}
        {#        </div>#}
        <div class="cd-filter">
            <form>
                {#				<div class="cd-filter-block">#}
                {#					<h4>Search</h4>#}
                {##}
                {#					<div class="cd-filter-content">#}
                {#						<input type="search" placeholder="Try color-1...">#}
                {#					</div> <!-- cd-filter-content -->#}
                {#				</div> <!-- cd-filter-block -->#}
                <div class="cd-filter-block">
                    <h4>Categories</h4>
                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select class="filter categories" name="selectThis" id="selectThis">
                                <option value="">Choose Category</option>
                                {#								<option value=".option1">Electronics</option>#}
                                {#								<option value=".option2">Fashion</option>#}
                                {#								<option value=".option3">Beauty</option>#}
                                {#								<option value=".option4">Automotive</option>#}
                            </select>
                        </div> <!-- cd-select -->
                    </div> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
                <div class="cd-filter-block">
                    <h4>Subcategories</h4>
                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select class="filter subcategories" name="selectThis" id="selectThis">
                                <option value="">Choose Subcategory</option>
                                {#								<option value=".option1">Electronics</option>#}
                                {#								<option value=".option2">Fashion</option>#}
                                {#								<option value=".option3">Beauty</option>#}
                                {#								<option value=".option4">Automotive</option>#}
                            </select>
                        </div> <!-- cd-select -->
                    </div> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
                <div class="cd-filter-block">
                    <h4>Price (PLN)</h4>

                    <ul class="cd-filter-content cd-filters list">
                        <li>
                            <input name="price-f" value="-100" class="filter" data-filter=".check2" type="radio"
                                   id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">Below 100 PLN</label>
                        </li>
                        <li>
                            <input name="price-f" value="100-500" class="filter" data-filter=".check2" type="radio"
                                   id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">PLN 100 to PLN 500</label>
                        </li>

                        <li>
                            <input name="price-f" value="500-100" class="filter" data-filter=".check3" type="radio"
                                   id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">PLN 500 to PLN 1000</label>
                        </li>
                        <li>
                            <input name="price-f" value="1000-2000" class="filter" data-filter=".check3" type="radio"
                                   id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">PLN 1000 to PLN 2000</label>
                        </li>
                        <li>
                            <input name="price-f" value="2000-" class="filter" data-filter=".check3" type="radio"
                                   id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">above 2000 PLN</label>
                        </li>
                        <li>
                            <div class="price-filter">
                                <input class="filter from" data-filter=".check3" type="text" id="checkbox3"
                                       placeholder="from">
                                <span class="separator">-</span>
                                <input class="filter down" data-filter=".check3" type="text" id="checkbox3"
                                       placeholder="down">
                            </div>
                        </li>
                    </ul> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
                <div class="cd-filter-block f-d-r">
                    <h4>Free Delivery and Return Above 1000 PLN order</h4>

                    <ul class="cd-filter-content cd-filters list shipping-method">
                        <li>
                            <input class="filter" data-filter="" value="F-D-R" type="checkbox" name="radioButton"
                                   id="radio1">
                            <label class="radio-label" for="radio1">Free delivery and Free return</label>
                        </li>

                        {#                        <li>#}
                        {#                            <input class="filter" data-filter=".radio2" value="F-D" type="radio" name="radioButton" id="radio2">#}
                        {#                            <label class="radio-label" for="radio2">Free Delivery</label>#}
                        {#                        </li>#}
                        {##}
                        {#                        <li>#}
                        {#                            <input class="filter" data-filter=".radio3" value="F-R" type="radio" name="radioButton" id="radio3">#}
                        {#                            <label class="radio-label" for="radio3">Free Return</label>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <input class="filter" data-filter=".radio4" value="ST" type="radio" name="radioButton" id="radio4">#}
                        {#                            <label class="radio-label" for="radio4">Standard</label>#}
                        {#                        </li>#}
                    </ul> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
            </form>

            <a href="#0" class="cd-close">Close</a>
        </div> <!-- cd-filter -->

        <a class="cd-filter-trigger">Filters</a>

    </section>
    <section class="best-selling-product-section">
        {#    <h1 class="section-title">best selling products</h1>#}
            <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        <div class="container">
            <div class="d-flex flex-row">
                {#                <div class="text-muted m-2" id="res">Showing 44 results</div>#}
                <div class="ml-auto mr-lg-4">
                    <div id="sorting" class="border rounded p-1 m-1">
                        <span class="text-muted">Sort by</span>
                        <select name="sort" id="sort">
                            <option value="popularity">Popularity</option>
                            <option value="price">The Cheapest</option>
                            <option value="rating">The Highest Rating</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
    <section class="image-mid-section">
        <div class="image-collage">
            <div class="image-collection">
{#                <img src="{% static "img/laptop.jpg" %}" class="collage-img" alt="">#}
{#                <img src="{% static "img/chanel5.png" %}" class="collage-img" alt="">#}
{#                <img src="{% static "img/tshirt-1.png" %}" class="collage-img" alt="">#}
            </div>
        </div>
    </section>
    <section class="review-section">
        <h1 class="section-title">what our <span>customers</span> says about us</h1>
        <div class="review-container">
            <div class="review-card">
                <div class="user-dp" data-rating="4.9"><img src="{% static "img/rahel.png" %}" alt=""></div>
                <h2 class="review-title">best quality more than my expectation</h2>
                <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur culpa cumque
                    debitis deserunt dicta dolore dolorum facilis illo in ipsum iure natus provident, quam quas rem
                    repellat repudiandae ut!</p>
            </div>
            <div class="review-card">
                <div class="user-dp" data-rating="4.9"><img src="{% static "img/hemi.png" %}" alt=""></div>
                <h2 class="review-title">best quality more than my expectation</h2>
                <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at deleniti dolore ducimus
                    earum eum fuga ipsam minima minus neque odio, optio, provident quam recusandae reiciendis sed sint
                    suscipit voluptates?</p>
            </div>
            <div class="review-card">
                <div class="user-dp" data-rating="4.9"><img src="{% static "img/mikia.png" %}" alt=""></div>
                <h2 class="review-title">best quality more than my expectation</h2>
                <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eum fuga fugit,
                    illum ipsa ipsum iste mollitia nam nemo provident qui quis rem, rerum sapiente voluptates. Nisi
                    rerum sint voluptas!</p>
            </div>
            <div class="review-card">
                <div class="user-dp" data-rating="4.9"><img src="{% static "img/mikih.png" %}" alt=""></div>
                <h2 class="review-title">best quality more than my expectation</h2>
                <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus excepturi maiores
                    sed suscipit. Aperiam aut eligendi et, laboriosam quidem sapiente soluta? Blanditiis deleniti
                    eveniet ex excepturi incidunt labore laudantium reiciendis?</p>
            </div>
        </div>
    </section>
    <section class="end-section">
        <div class="section-item-container">
            <img src="{% static "img/e.png" %}" class="section-bg" alt="">
            <div class="section-info">
                <h1 class="title">order <span>now</span></h1>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dicta ipsa quidem!
                    Commodi nulla, quasi! Adipisci architecto consequatur corporis fuga ipsum, minima quasi quisquam.
                    Aperiam aut consequatur nesciunt nobis sint!.</p>
            </div>
        </div>
    </section>
    <article class="media content-section">
        <img
                class="rounded-circle article-img"
        />
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endblock content %}
{% block jssscript %}
    <script src={% static 'js/filters.js' %}></script>
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script src="{% static 'js/product_click.js' %}"></script>

{% endblock jssscript %}