<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static 'css/index.css' %}>
</head>

<style>

/* best selling product */

.best-selling-product-section{
    position: relative;
    padding: 60px 5vw;
}

.section-title{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
}

.product-container{
    display: flex;
    justify-content: space-between;
}

.product-card{
    border: 15px solid #d5be8b;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #d5be8b;
}

.product-card:nth-child(even){
    border-color: #190c05;
    background: #190c05;
}

.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.product-name{
    position: absolute;
    color: #fff;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
    font-size: 25px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}

.product-card:hover .product-name{
    opacity: 1;
}

.product-card:hover .product-img{
    opacity: 0.5;
}
.mid-section{
    width: 100%;
    height: 800px;
    padding: 40px 5vw;
}

.section-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}

.section-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.section-info{
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin-left: auto;
    padding: 50px;
    text-align: center;
}

.title{
    font-size: 60px;
    line-height: 100px;
}

.title span{
    color: #d5be8b;
}

.info{
    font-family: 'lato', sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
}
/* image collage */

.image-mid-section{
    width: 100%;
    height: 600px;
    padding: 50px 5vw;
}

.image-collage{
    width: 100%;
    height: 100%;
    background: url(../img/bg-1.png);
    background-size: cover;
}

.image-collection{
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    margin: auto;
}

.collage-img{
    position: absolute;
    object-fit: cover;
    transition: .5s;
}

.collage-img:nth-child(1){
    width: 350px;
    height: 350px;
    top: 20px;
    left: 40px;
}

.collage-img:nth-child(2){
    width: 250px;
    height: 250px;
    top: 200px;
    left: 200px;
}

.collage-img:nth-child(3){
    width: 250px;
    height: 250px;
    top: 100px;
    left: 350px;
}

.collage-img:hover{
    transform: translateY(-10px);
}
{#* review section */#}

.review-section{
    padding: 50px 5vw;
}

.section-title span{
    color: #d5be8b;
}

.review-container{
    margin: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.review-card{
    width: 250px;
    height: auto;
    font-family: 'lato', sans-serif;
}

.user-dp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-dp::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.user-dp::after{
    content: attr(data-rating);
    position: absolute;
    bottom: 0;
    right: -20px;
    padding: 5px 20px;
    border-radius: 20px;
    background: #d5be8b;
}

.review-title{
    font-size: 20px;
    line-height: 25px;
    margin: 30px 0;
    text-transform: capitalize;
}

.review{
    opacity: 0.7;
}


.end-section .section-info{
    margin: 0;
}

.end-section .title{
    font-size: 100px;
    line-height: 150px;
    margin: 50px;
}

footer{
    font-family: 'lato', sans-serif;
    color: #d5be8b;
    background: #190c05;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}
.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.form-input {
  width:350px;
  padding:20px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
{#.form-input input {#}
{#  display:none;#}
{#}#}

.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#1172c2;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}
</style>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom"><a
            class="navbar-brand ml-2 font-weight-bold"
            href="#"><span id="burgundy">The</span><span
            id="orange">Richo</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"
                aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarColor">
            <ul class="navbar-nav">
                <li class="nav-item rounded bg-light search-nav-item">
                    <input type="text" id="search" class="bg-light" placeholder="Search ....">
                    <span class="fa fa-search text-muted"></span>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user-o"></span><span
                        class="text">Login</span></a></li>
                <li class="nav-item "><a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span><span
                        class="text">Cart</span></a></li>
            </ul>
        </div>
        <div class="user-interactions">
            <div class="cart">
                <img src="{% static "img/cart.png" %}" class="cart-icon" alt="">
                <span class="cart-item-count">00</span>
            </div>
            <div class="user">
                <img src="{% static "img/user.png" %}" class="user-icon" alt="">
            </div>
        </div>
    </nav>
{#<nav class="navbar">#}
{#    <ul class="links-container">#}
{#          <input type="text" placeholder="Search..">#}
{#        <li class="link-item"><a href="#" class="link active">home</a></li>#}
{#        <li class="link-item"><a href="#" class="link">product</a></li>#}
{#        <li class="link-item"><a href="#" class="link">about</a></li>#}
{#        <li class="link-item"><a href="#" class="link">contact</a></li>#}
{#    </ul>#}
{#    <div class="user-interactions">#}
{#        <div class="cart">#}
{#            <img src="{% static "img/cart.png" %}" class="cart-icon" alt="">#}
{#            <span class="cart-item-count">00</span>#}
{#        </div>#}
{#        <div class="user">#}
{#            <img src="{% static "img/user.png" %}" class="user-icon" alt="">#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<section id="sidebar">
        {#    <p> Home | <b>All Breads</b></p>#}
        <div class="border-bottom pb-2 ml-2">
            <h4 id="burgundy">Categories</h4>
        </div>
        {#    <div class="py-2  ml-3">#}
        {#        <h6 class="font-weight-bold">Electronics</h6>#}
        {#        <div id="orange"><span class="fa fa-minus"></span></div>#}
        {#        <form>#}
        {#            <div class="form-group"><input type="checkbox" id="artisan"> <label for="artisan">Fresh Artisan#}
        {#                Breads</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="breakfast"> <label for="breakfast">Breakfast#}
        {#                Breads</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="healthy"> <label for="healthy">Healthy Breads</label>#}
        {#            </div>#}
        {#        </form>#}
        {#    </div>#}
        {#    <div class="py-2  ml-3">#}
        {#        <h6 class="font-weight-bold">Accompainments</h6>#}
        {#        <div id="orange"><span class="fa fa-minus"></span></div>#}
        {#        <form>#}
        {#            <div class="form-group"><input type="checkbox" id="tea"> <label for="tea">Tea Cakes</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="cookies"> <label for="cookies">Cookies</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="pastries"> <label for="pastries">Pastries</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="dough"> <label for="dough">Cookie Dough</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="choco"> <label for="choco">Chocolates</label></div>#}
        {#        </form>#}
        {#    </div>#}
        {#    <div class="py-2 ml-3">#}
        {#        <h6 class="font-weight-bold">Top Offers</h6>#}
        {#        <div id="orange"><span class="fa fa-minus"></span></div>#}
        {#        <form>#}
        {#            <div class="form-group"><input type="checkbox" id="25off"> <label for="25">25% off</label></div>#}
        {#            <div class="form-group"><input type="checkbox" id="5off"> <label for="5off" id="off">5% off on artisan#}
        {#                breads</label></div>#}
        {#        </form>#}
        {#    </div>#}
    </section>
    <!-- products section -->
{# <section id="products">#}
{#        <div class="container">#}
{#            <div class="d-flex flex-row">#}
{#                <div class="text-muted m-2" id="res">Showing 44 results</div>#}
{#                <div class="ml-auto mr-lg-4">#}
{#                    <div id="sorting" class="border rounded p-1 m-1"><span class="text-muted">Sort by</span> <select#}
{#                            name="sort" id="sort">#}
{#                        <option value="popularity">Popularity</option>#}
{#                        <option value="prcie">Price</option>#}
{#                        <option value="rating">Rating</option>#}
{#                    </select></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Multi Grain Bread</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹110/loaf</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 loaf</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/3085146/pexels-photo-3085146.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Bagels</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹35/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/1448665/pexels-photo-1448665.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>White Bread</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹80/loaf</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 loaf</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Baguette</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹160/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/209206/pexels-photo-209206.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Masala Bun</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹85/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card d-relative"><img class="card-img-top"#}
                {#                                                      src="https://images.pexels.com/photos/3570/morning-breakfast-croissant.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Croissant</b></h5>#}
                {#                            <div class="rounded bg-white discount" id="orange">10% off</div>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted price">#}
                {#                                    <del>₹55</del>#}
                {#                                    ₹45/piece#}
                {#                                </div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span>1pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
 <section class="best-selling-product-section">
{#    <h1 class="section-title">best selling products</h1>#}
     <div class="container">
            <div class="d-flex flex-row">
                <div class="text-muted m-2" id="res">Showing 44 results</div>
                <div class="ml-auto mr-lg-4">
                    <div id="sorting" class="border rounded p-1 m-1"><span class="text-muted">Sort by</span> <select
                            name="sort" id="sort">
                        <option value="popularity">Popularity</option>
                        <option value="prcie">Price</option>
                        <option value="rating">Rating</option>
                    </select></div>
                </div>
            </div>
            <div class="row">
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Multi Grain Bread</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹110/loaf</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 loaf</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/3085146/pexels-photo-3085146.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Bagels</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹35/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/1448665/pexels-photo-1448665.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>White Bread</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹80/loaf</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 loaf</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Baguette</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹160/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card"><img class="card-img-top"#}
                {#                                           src="https://images.pexels.com/photos/209206/pexels-photo-209206.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Masala Bun</b></h5>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted">₹85/piece</div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span class="px-sm-1">1 pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">#}
                {#                    <div class="card d-relative"><img class="card-img-top"#}
                {#                                                      src="https://images.pexels.com/photos/3570/morning-breakfast-croissant.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">#}
                {#                        <div class="card-body">#}
                {#                            <h5><b>Croissant</b></h5>#}
                {#                            <div class="rounded bg-white discount" id="orange">10% off</div>#}
                {#                            <div class="d-flex flex-row my-2">#}
                {#                                <div class="text-muted price">#}
                {#                                    <del>₹55</del>#}
                {#                                    ₹45/piece#}
                {#                                </div>#}
                {#                                <div class="ml-auto">#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-plus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                    <span>1pc</span>#}
                {#                                    <button class="border rounded bg-white sign"><span class="fa fa-minus"#}
                {#                                                                                       id="orange"></span></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <button class="btn w-100 rounded my-2">Add to cart</button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
{#    <div class="product-container">#}
{#        <div class="product-card">#}
{#            <img src="{% static "img/laptop.jpg" %}" class="product-img" alt="">#}
{#            <p class="Hp Laptop">lights →</p>#}
{#        </div>#}
{#        <div class="product-card">#}
{#            <img src="{% static "img/iphone.png" %}" class="product-img" alt="">#}
{#            <p class="Iphone 14">lights →</p>#}
{#        </div>#}
{#        <div class="product-card">#}
{#            <img src="{% static "img/cris.jpg" %}" class="product-img" alt="">#}
{#            <p class="CrisMass gift">lights →</p>#}
{#        </div>#}
{#        <div class="product-card">#}
{#            <img src="{% static "img/chanel5.png" %}" class="product-img" alt="">#}
{#            <p class="Chanel 5">lights →</p>#}
{#        </div>#}
{#    </div>#}
</section>
<section class="mid-section">
        <div class="section-item-container">
            <img src="{% static "img/e.png" %}" class="section-bg" alt="">
            <div class="section-info">
                <h1 class="title">premium quality in <span>affordable</span> price</h1>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam assumenda, aut deleniti dolores eius ex ipsa ipsum iure libero maiores numquam officiis, perferendis quibusdam reiciendis. Atque expedita pariatur sed.</p>
            </div>
        </div>
</section>
<section class="image-mid-section">
    <div class="image-collage">
        <div class="image-collection">
            <img src="{% static "img/laptop.jpg" %}" class="collage-img" alt="">
            <img src="{% static "img/cris.jpg" %}" class="collage-img" alt="">
            <img src="{% static "img/chanel5.png" %}" class="collage-img" alt="">
        </div>
    </div>
</section>
<section class="review-section">
    <h1 class="section-title">what our <span>customers</span> says about us</h1>
    <div class="review-container">
        <div class="review-card">
            <div class="user-dp" data-rating="4.9"><img src="{% static "img/rahel.png" %}" alt=""></div>
            <h2 class="review-title">best quality more than my expectation</h2>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at deleniti dolore ducimus earum eum fuga ipsam minima minus neque odio, optio, provident quam recusandae reiciendis sed sint suscipit voluptates?</p>
        </div>
        <div class="review-card">
         <div class="user-dp" data-rating="4.9"><img src="{% static "img/hemi.png" %}" alt=""></div>
            <h2 class="review-title">best quality more than my expectation</h2>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur culpa cumque debitis deserunt dicta dolore dolorum facilis illo in ipsum iure natus provident, quam quas rem repellat repudiandae ut!</p>
        </div>
        <div class="review-card">
     <div class="user-dp" data-rating="4.9"><img src="{% static "img/mikia.png" %}" alt=""></div>
            <h2 class="review-title">best quality more than my expectation</h2>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eum fuga fugit, illum ipsa ipsum iste mollitia nam nemo provident qui quis rem, rerum sapiente voluptates. Nisi rerum sint voluptas!</p>
        </div>
        <div class="review-card">
     <div class="user-dp" data-rating="4.9"><img src="{% static "img/mikih.png" %}" alt=""></div>
            <h2 class="review-title">best quality more than my expectation</h2>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus excepturi maiores sed suscipit. Aperiam aut eligendi et, laboriosam quidem sapiente soluta? Blanditiis deleniti eveniet ex excepturi incidunt labore laudantium reiciendis?</p>
        </div>
    </div>
</section>
<section class="end-section">
    <div class="section-item-container">
        <img src="{% static "img/e.png" %}" class="section-bg" alt="">
        <div class="section-info">
            <h1 class="title">order <span>now</span></h1>
            <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dicta ipsa quidem! Commodi nulla, quasi! Adipisci architecto consequatur corporis fuga ipsum, minima quasi quisquam. Aperiam aut consequatur nesciunt nobis sint!.</p>
        </div>
    </div>
</section>
<article class="media content-section">
  <img
    class="rounded-circle article-img"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

<footer>made by Eyob Kibret</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src={% static 'js/categories.js' %}></script>
<script>
{#    const collageImages = [...document.querySelectorAll('.collage-img')]#}
{##}
{#collageImages.map((item, i) => {#}
{#    item.addEventListener('mouseover', () => {#}
{#        collageImages.map((image, index) => {#}
{#            if(index != i){#}
{#                image.style.filter = `blur(10px)`;#}
{#                item.style.zIndex = 2;#}
{#            }#}
{#        })#}
{#    })#}
{##}
{#    item.addEventListener('mouseleave', () => {#}
{#        collageImages.map((image, index) => {#}
{#            image.style = null;#}
{#        })#}
{#    })#}{#})#}
{#const navbar = document.querySelector('.navbar');#}
{##}
{#window.addEventListener('scroll', () => {#}
{#    if(scrollY >= 180){#}
{#        navbar.classList.add('bg');#}
{#    } else{#}
{#        navbar.classList.remove('bg');#}
{#    }#}
{#})#}

</script>
</html>